### Loops

# syntax of  for
for i in range(): --------> for integer values
    
for i in variable_name: ---------> input in string format

In [4]:
#print first 10 numbers(single parameter)
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [7]:
# two parameters
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
for i in range(2,11,2):
    print(i,end=' ')

2 4 6 8 10

In [5]:
# even numbers
a=int(input())
b=int(input())
for i in range(a,b):
    if (i%2==0):
        print(i,end=' ')

1
11
2 4 6 8 10

In [20]:
# sum and average in given range of numbers
a=int(input())
b=int(input())
sum=0
count=0
for i in range(a,b+1):
    sum=sum+i
    count+=1
print(sum)
average=sum/count
print(average)

5
7
18
6.0

In [12]:
# print n natural numbers and average of that numbers
n=int(input())
sum=0
for i in range(1,n):
    print(i, end=' ')
    sum=sum+i
average=sum/n
print("\naverage is:",average)

5
1 2 3 4
average is: 2.0

In [23]:
a=int(input())
b=int(input())
sum=0
count=0
for i in range(a,b+1):
    if(i%2==0):
        sum=sum+i
        count+=1
print(sum)
average=sum/count
print(average)

1
5
6
3.0

In [3]:
# adition of two strings
a=input()
b=input()
sum=0
count=0
for i in range(int(a),int(b)+1):
    sum=sum+int(i)
    count+=1
print(sum)
average=sum/count
print(average)

5
7
18
6.0

In [6]:
#print factorial of number
n=int(input())
fact=1
if n==0 or n==1:
    print("fact=1")
else:
    
    for i in range(1,n+1):
        fact=fact*i
    print(fact)

1
fact=1

In [28]:
n=int(input())
flag=0
if n==1:
    print("neither prime nor composite")
if n>1:
    for i in range(2,n):
        if n%i==0:
            flag=1
            break
    if flag==1:
        print("not prime number")
    else:
        print("prime number")

10
not prime number

In [34]:
# perfect number or not
n=int(input())
sum=0
for i in range(1,n):
    if n%i==0:
        sum+=i
if sum==n:
    print("perfect number")
else:
    print("not a perfect number")

6
perfect number

In [39]:
n=int(input())
sum=0
fact=1
if n%2==0:
    for i in range(1,n):
         if n%i==0:
            sum+=i
    if sum==n:
        print("perfect number")
    else:
        print("not perfect number")
else:
    for i in range(1,n+1):
        fact=fact*i
    print(fact)

5
120

In [44]:
n=input()
sum=0
fact=1
if int(n)%2==0:
    for i in range(1,int(n)):
         if int(n)%int(i)==0:
            sum+=int(i)
    if sum==int(n):
        print("perfect number")
    else:
        print("not perfect number")
else:
    for i in range(1,int(n)+1):
        fact=fact*int(i)
    print(fact)

6
perfect number

#####

In [46]:
n=int(input())
for i in range(1,11):
    print(n ,"*",i,"=",n*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
n=int(input())
sum=0
fact=1
if n%2==0:
    for i in range(1,n):
         if n%i==0:
            sum+=i
    if sum==n:
        print("perfect number")
    else:
        print("not perfect number")
else:
    for i in range(1,n+1):
        fact=fact*i
    print(fact)

In [50]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,11):
        print(i,"*",j,"=",i*j)
    print('\n')

3
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10


2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

### break and continue statements

In [53]:
n=int(input())
for i in range(1,n+1):
    print(i)
    if i==7:
        break

13
1
2
3
4
5
6
7

In [56]:
n=int(input())
for i in range(1,n+1):
    if i==7:
        continue
    print(i,end=' ')

13
1 2 3 4 5 6 8 9 10 11 12 13

### continue -----> just skips the given condition and print statement is given after continue
### break----------------> to stop at that particular condition

In [8]:
#with string values
n=input()
for i in n:
    print(i)

sheema
s
h
e
e
m
a

### ord() -------------> parameter is string value
### chr()------------> for calculating character from ascii value--------> parameter is number

In [10]:
print(ord('a'))
print(ord('A'))
print(ord('4'))

97
65
52

In [12]:
print(chr(65))
print(chr(56))
print(chr(98))

A
8
b

In [17]:
# to print asciii value from a given string
n=input()
for i in n:
     print(ord(i))

sheema
115
104
101
101
109
97

In [22]:
n=input()
for i in n:
    if (ord(i)%2==0):
         print(i)

sheema
h

In [44]:
n=input()
for i in n:
    if (ord(i)%2==0):
         print(i,end=' ')
    else:
        a=(ord(i)*ord(i))/90
        a1=int(a)
        print(chr(a1),end=' ')

sheema
 h q q  h

In [51]:
n=input()
for i in n:
    if (ord(i)%2==0):
         print(i,end=' ')
    else:
        a=(ord(i)*ord(i))/90
        print(chr(int(a)),end=' ')

python
p ¢ t h  n

In [52]:
n=input()
for i in n:
    if (ord(i)%2==0):
         print(i,end=' ')
    else:
        a=(ord(i)*ord(i))//90
        print(chr(a),end=' ')

python
p ¢ t h  n

### while loop

In [53]:
# even numbers
i=1
while i<=10:
    if i%2==0:
        print(i,end=' ')
    i=i+1

2 4 6 8 10

### functions
* block of statements/set of statements to perfrom particular task is function
* block of statements will excute and return the result when function called
### function contains
1.function declaration
2.body of function
3.function calling

#### types of functions
1.built_in
 1.max
 2.min
 3.sum
 4.len
 5.ord
 6.chr
 7.abs ----------> absolute value
2.userdefined 
      * it is defined by user to perform particular task
      1.requried arg
      2.default arg
      3.keyword arg
      4.variable length

In [ ]:
#syntax of function
def function_name(arg):
    body of function
function_name()

In [59]:
#greet
n=input()
def sample():
        print("welcome sheema " + n)
sample()

to vignan
welcome sheema to vignan

In [58]:
n=input()
def sample():
        print("welcome sheema " , n)
sample()

to vignan
welcome sheema  to vignan

In [61]:
def local():
    n=int(input())
    n1=int(input())
    print("multiplication of ",n, "and",n1,"is", n*n1)
local()

2
3
multiplication of  2 and 3 is 6

In [63]:
n=int(input())
n1=int(input())
def local():
    print("multiplication of ",n, "and",n1,"is", n*n1)
local()
print(n,n1)

2
3
multiplication of  2 and 3 is 6
2 3

In [1]:
n=int(input())
def perfect_num():
    sum=0
    if n%2==0:
            for i in range(1,n):
                if n%i==0:
                     sum+=i
            if sum==n:
                 print("perfect number")
            else:
                  print("not perfect number")

def factorial():
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    print(fact)
if (n%2==0):
    perfect_num()
else:
    factorial()

6
perfect number

In [2]:
name=input()
org=input()
phone=input()
def Requried(name,org,phone):
    print("name is :",name)
    print("organization is :",org)
    print("phone num :",phone)
Requried(name,org,phone)

sheema
oxford
123
name is : sheema
organization is : oxford
phone num : 123

In [1]:
name=input()
org=input()
def Requried(name,org):
    print("name is :",name)
    print("organization is :",org)
Requried('sheema','vignan')

mounika
oxford
name is : sheema
organization is : vignan

In [2]:

def Default(a,b,c=10):
    print("addition is:",a+b+c)
    print("mul is :",a*b*c)
Default(3,2)

addition is: 15
mul is : 60

In [3]:
def Default(a,b,c=10):
    print("addition is:",a+b+c)
    print("mul is :",a*b*c)
Default(3,2,4)

addition is: 9
mul is : 24

In [5]:
def Keyword(fname,lname,uname):
    print("Name is:",fname+lname)
    print("Username is:",uname)
Keyword('sheema','syed','sd')

Name is: sheemasyed
Username is: sd

In [7]:
def Keyword(fname,lname,uname):
    print("Name is:",fname+lname)
    print("Username is:",uname)
Keyword(uname='sheema',fname='syed',lname='sd')

Name is: syedsd
Username is: sheema

In [1]:
def varlen(num,*args):
    num=10
    print(num)
    for a in args:
        print(a)
varlen(10,'python','online','program',20,89.5)

10
python
online
program
20
89.5